<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".activitys.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyFronted"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".activitys.MusicActivity" />
        <activity android:name=".activitys.MovieActivity" />
        <activity android:name=".activitys.NotesActivity" />
        <activity android:name=".activitys.NotebookActivity" />
        <activity android:name=".activitys.ProfileActivity" />
        <activity android:name=".activitys.MovieDetailActivity" />
        <activity android:name=".activitys.ActivityPlayMovie" />
        <activity android:name=".activitys.TopicActivity" />
        <activity android:name=".activitys.PhraseActivity" />
        <activity android:name=".activitys.SpeakingActivity" />
        <activity android:name=".activitys.AdminActivity" />
        <activity android:name=".activitys.UploadMovieActivity" />
        <activity android:name=".activitys.UploadMusicActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".activitys.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>